/* styles.css */

.dropdownbox.box {
    margin-bottom: 20px;
}

.dropdownbox .inputBox {
    position: relative;
}

.dropdownbox .summary {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.dropdownbox .options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 5px;
    padding: 10px;
    z-index: 1000;
}

.dropdownbox .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdownbox .stepper {
    display: flex;
    align-items: center;
}

.dropdownbox .step {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.dropdownbox .step.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.dropdownbox .tbx_stepper {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

/* Basic styles for the switch container */
.dropdownbox .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the default checkbox */
.dropdownbox .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Style for the slider */
.dropdownbox .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Slider circle */
.dropdownbox .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When the checkbox is checked, change the background color */
.dropdownbox .switch input:checked+.slider {
    background-color: #2196F3;
}

/* Move the slider circle to the right when checked */
.dropdownbox .switch input:checked+.slider:before {
    transform: translateX(26px);
}