/* styles.css */

.dropdownbox.box {
    margin-bottom: 20px;
}

.dropdownbox.box * {
    position: relative;
}

.dropdownbox .inputBox {
    position: relative;
    display: block;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 2px;
    height: 46px;
    text-align: left;
}

.dropdownbox .summary {
    display: block;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 4px;
    color: #323945;
    font-weight: 300;
    font-size: 14px;
    line-height: 44px;
    padding: 0 8% 0 4%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.dropdownbox .summary::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #323945;
    display: block;
    position: absolute;
    right: 5%;
    top: 50%;
    bottom: 50%;
}



.dropdownbox .options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 5px;
    z-index: 1000;
    top: 100%;
    left: 0;
    height: auto;
    background: #fff;
    font-weight: 600;
    font-size: 13px;
    color: #323945;
    text-align: left;
    padding: 10px 0;
    margin: 0;
}

.dropdownbox .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    width: 90%;
    font-size: 0;
    clear: both;
    padding: 5px 0;
    margin: 0 auto;
    overflow: hidden;
}

.dropdownbox .option .col1 {
    overflow: hidden;
    float: left;
    width: 51%;
}

.dropdownbox .option .option-label {
    display: block;
    color: #323945;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    text-align: left;
    padding-top: 2px;
}

.dropdownbox .option .option-desc {
    display: block;
    color: #323945;
    font-weight: 300;
    font-size: 13px;
    line-height: 140%;
    text-align: left;
    padding-top: 2px;
}

.dropdownbox .option .col2 {
    width: 49%;
    float: right;
    text-align: right;
}



.dropdownbox .option .stepper {
    align-items: center;
    display: block;
    width: 100%;
    position: relative;
}

.dropdownbox .step {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    background: #f6f6f6;
    border-radius: 20px;
    transition: background 100msease;
}

.dropdownbox .step::before {
    content: "";
    width: 10px;
    height: 2px;
    background: #b1b4b7;
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.dropdownbox .step.up::after {
    content: "";
    width: 2px;
    height: 10px;
    background: #b1b4b7;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.dropdownbox .step.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.dropdownbox .tbx_stepper {
    margin: 0 5px;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    width: 38px;
    padding: 0;
    text-align: center;
    font-weight: 100;
}

.dropdownbox .option input {
    height: 46px;
    line-height: 44px;
    background: #FFF;
    border: 0;
    color: #323945;
}

/* Basic styles for the switch container */
.dropdownbox .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 29px;
}

/* Hide the default checkbox */
.dropdownbox .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Style for the slider */
.dropdownbox .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Slider circle */
.dropdownbox .switch .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When the checkbox is checked, change the background color */
.dropdownbox .switch input:checked+.slider {
    background-color: #2196F3;
}

/* Move the slider circle to the right when checked */
.dropdownbox .switch input:checked+.slider:before {
    transform: translateX(22px);
}